.about {
    padding: 30px 25px 80px;
}

.welcome {
    font-size: 0;
    &-img {
        float: left;
        margin-bottom: 25px;
    }
    figure {
        display: flow-root;
    }
    figcaption {
        display: inline-block;
        @media (min-width: 768px) {
            display: flow-root;
        }
    }
}