header {
    text-align: center;
    color: $black;
}

.logo {
    width: 320px;
    margin: 0 auto;
    @include mediaquery-tablet {
        margin-left: 0;
    }
}

.media {
    width: 320px;
    margin: 0 auto;
    >a {
        display: inline-block;
        background: url('/images/social.png');
        width: 28px;
        height: 28px;
    }
    >a:first-child {
        background-position: 0 0;
    }
    span {
        display: inline-block;
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        margin-top: 10px;
    }
    @include mediaquery-tablet {
        margin-right: 0;
        text-align: right;
    }
}