nav {
    margin-top: 30px;
    background-color: #fff;
    display: flex;
}

.nav-menu {
    display: flex;
    font-size: 0;
    margin-right: 10px;
    width: 75%;
    text-align: center;
    a {
        padding: 15px 25px;
        font-size: 13px;
        color: $black;
        &:hover {
            background-color: $green;
            color: $white
        }
    }
    a+a {
        border-right: 1px solid #eee;
    }
}

.search {
    display: inline-block;
    width: 25%;
    padding: 5px 15px;
}

ul {
    padding: 0;
}

ul a {
    display: inline-block;
    text-decoration: none;
    color: #666;
}


/* ===================================
   下拉式選單
   ===================================*/

.drop-down {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 8;
    transition: opacity 0.5s ease;
}

.submenu-item {
    display: block;
    transition: height 0.5s ease;
}

.drop-down:hover .submenu {
    position: absolute;
    display: block;
    background-color: $white;
}

.drop-down:hover .submenu-item {
    overflow: visible;
}

.fa-angle-down {
    font-size: 12px;
    padding-left: 5px;
}